.section-3{
    width: 100vw;
    height: 120vh;
    display: flex;
    justify-content: center;
    margin-top: 4.5em;
}



.section-3 .products{
    width: 75%;
    padding: 0 5pc 0 4pc;
}

.products .slider-parent{
    width: 100%;
   
    height: 220px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 20px 0 20px;
}

.products .slider-parent .slider{
    background-color: #09907F;
    color: #fff;
    display: flex;
    border-radius: 8px;
    align-items: center;
    width: 100%;
    height: 220px;
}

.products .slider .img img{
    height: 208.766px;
    width: 100px;
}

.products .slider .slider-content>p{
    position: absolute;
    right: 30px;
    top: 12px;
    font-size: 11px;
}

.products .slider .slider-content .contents{
    padding: 2pc 0 0 2pc;
}

.products .slider .slider-content{
    width: inherit;
}

.products .slider .slider-content .contents p,.products .slider .slider-content .content-pricing .price p{
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 14px;
}

.products .slider .slider-content .content-pricing{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 3pc 0 2pc;
}

.products .slider .slider-content .content-pricing .slider-button button{
    height: 49px;
    width: 200px;
    color: #000000de;
    background-color: #fff;
    border-radius: 50px;
    border: none;
}


/*  */

.curations{
    width: 100%;
    height: 258.797px;
    display: flex;
    align-items: center;
    margin: 2pc 0 5pc 0;
    justify-content: center;
    padding-left: 18px;
}


.curations .curations-content .heading{
    margin-bottom: 2pc;
}

.curations .curations-content{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.curations .curations-content .circle-product{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.curations .curations-content .circle-product .circle-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.curations .curations-content .circle-product .circle-img img{
    width: 108px;
    height: 108px;
    margin-bottom: 8px;
    border-radius: 50%;
    cursor: pointer;
}


.curations .curations-content .circle-product .circle-img img:hover{
border: 2px solid #09907F;
}

.curations .curations-content .circle-product .circle-img p{
    color: rgb(33, 37, 41);
    font-size: 14px;
    font-weight: 600;
}
/*  */

.latest{
    width: 100%;
    height: 420.797px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.latest .heading{
    margin-bottom: 2pc;
    padding: 20px;
    color: var(--heading-color);
    font-weight: 800;
}

.latest .card-parent{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 20px 0 20px;
}



.latest .card-parent .card  .img1{
    background-image: url("../assets/food/card-1.webp");
    width: 407.328px;
    height: 167px;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.latest .card-parent .card  .img2{
    background-image: url("../assets/food/card-2.webp");
    width: 407.328px;
    height: 167px;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.latest .card-parent .card  .img3{
    background-image: url("../assets/food/card-3.webp");
    width: 407.328px;
    height: 167px;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.latest .card-parent .card{
    width: 409.328px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.06) 0px 4px 5px 0px, rgba(0, 0, 0, 0.1) 0px 1px 10px 0px;
    height: 360px;
    border-radius: 8px;
}

.latest .card-parent .card .card-content .header,.latest .card-parent .card .card-content .middle{
    margin-top: 0.8pc;
}

.latest .card-parent .card .card-content{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.latest .card-parent .card .card-content .bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1pc;
}


/* Section 4 */

.section-4{
    width: 100vw;
    height: 50vh;
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-bg);
}

.section-4 .last-product{
    width: 75%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}


.section-4 .last-product .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;
    width: 100%;
}


.section-4 .last-product .container .heading{
    width: 100%;
    padding: 0 78px 0 78px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.section-4 .last-product .container .big-card{
    width: 1280px;
    height: 372px;
    cursor: pointer;
    position: relative;

}

.section-4 .last-product .container .big-card .img{
    width: 100%;
    height: 100%;
    position: absolute;
}

.section-4 .last-product .container .big-card .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    border-radius: 8px;
}
.big-card>.content{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background: linear-gradient(359.89deg, #000000bd 19.45%, #00000062 55.07%, #0000 73.63%) !important;
}

.big-card .content>p{
    background-color: #fff;
    color: #09907F;
    padding: 2px;
    border-radius: 2px;
    width: fit-content;
    margin: 10px 20px;
    font-size: 8px;
}


.big-card .content .bottom{
    margin: 20px;
    height: 150px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    border-radius: 8px;
}

.big-card .content .bottom h1{
    font-size: 28px;
}

.big-card .content .bottom p{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 3em;
}

.big-card .content .bottom button{
    width: 200px;
    height: 32px;
    padding: 0;
    border-radius: 16px;
    background-color: #edebe9;
    color: #000;
    border: none;
    outline: none;
    font-weight: 600;
    cursor: pointer;
}


